:root {
  --buttonfocus: 0 0 0 .2rem rgba(108, 117, 125, 0.35);
  --smallshadow: 0px 0px 16px rgba(0, 0, 0, 0.09),0px 0.1px 0.9px rgba(0, 0, 0, 0.07),0px 0.5px 1.9px rgba(0, 0, 0, 0.065),0px 1px 3px rgba(0, 0, 0, 0.052),0px 1.9px 4.4px rgba(0, 0, 0, 0.04),0px 3px 6.4px rgba(0, 0, 0, 0.038),0px 4px 10px rgba(0, 0, 0, 0.1);
  --regularshadow: 0px 0px 16px rgba(0, 0, 0, 0.09),0px 2.3px 8.8px rgba(0, 0, 0, 0.049),0px 7.3px 18.6px rgba(0, 0, 0, 0.045),0px 16.2px 30.1px rgba(0, 0, 0, 0.037),0px 29.6px 44.5px rgba(0, 0, 0, 0.028),0px 45.9px 64px rgba(0, 0, 0, 0.027),0px 62px 100px rgba(0, 0, 0, 0.07);
  --largeshadow: 0px 0px 16px rgba(0, 0, 0, 0.09),0px 2.8px 7.4px rgba(0, 0, 0, 0.077),0px 9px 15.6px rgba(0, 0, 0, 0.071),0px 20.1px 25.3px rgba(0, 0, 0, 0.057),0px 36.8px 37.4px rgba(0, 0, 0, 0.044),0px 57px 53.8px rgba(0, 0, 0, 0.042),0px 77px 84px rgba(0, 0, 0, 0.11);
  --transition0: all 0s cubic-bezier(0.3, 0, 0, 1.25);
  --transition10: all .1s cubic-bezier(0.3, 0, 0, 1.25);
  --snap: all .5s cubic-bezier(0, 1, 0.5, 1);
  --bigbounce: all .25s cubic-bezier(0, 0, 0, 1.5) ; }

body, html {
  height: 100%; }

body {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background-color: #FFF;
  font-size: 1rem; }

.carousel-caption-link > div {
  border: 1px solid transparent; }
.carousel-caption-link:hover > div {
  border: 1px solid var(--bs-primary); }

.btn:active, .btn:focus {
  outline: 0 !important;
  box-shadow: none !important; }

.btn, .form-control, .col-form-label, .input-group-text, .modal-content {
  border-radius: 3px; }

.btn-check:checked + .btn.btn-outline-primary {
  color: #FFF; }

.btn-primary:active, .btn-primary:focus {
  color: #fff; }

.btn-outline-primary:hover, .btn-outline-danger:hover, .btn-outline-warning:hover {
  color: #FFF; }

#panel_body {
  display: none; }

.btn-bar {
  width: 100%;
  height: 2px;
  margin-bottom: -2px;
  background-color: #ebedec; }

.btn-light {
  color: #000; }
  .btn-light:hover {
    color: #FFF; }

.col-form-label {
  padding-top: calc(0.2rem + 1px);
  padding-bottom: calc(0.2rem + 1px); }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', sans-serif; }

.font-family-primary {
  font-family: 'Play', sans-serif; }

.font-family-secondary {
  font-family: 'Fira Sans', sans-serif; }

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #adb5bd; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; }

.table .ui-table-cell-actions {
  width: 0%;
  white-space: nowrap; }

input::-webkit-input-placeholder {
  /* Edge */
  color: #adb5bd !important; }
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #adb5bd !important; }
input::placeholder {
  color: #adb5bd !important; }

.dropzone .dz-preview.dz-image-preview {
  background: transparent; }

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--bs-primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary), 0.1); }

.z-index-1021 {
  z-index: 1021; }

.navbar .nav-item {
  font-size: 16px;
  font-weight: 600 !important; }
.navbar .navbar-brand img {
  transition: all .3s;
  width: 250px; }
  @media (max-width: 550px) {
    .navbar .navbar-brand img {
      width: 240px; } }
  @media (max-width: 400px) {
    .navbar .navbar-brand img {
      width: 210px; } }
.navbar.navbar-shrink .navbar-brand img {
  width: 170px; }

nav .nav-item.dropdown .dropdown-menu {
  border-radius: unset;
  background: #212529; }
  nav .nav-item.dropdown .dropdown-menu .dropdown-item {
    color: #FFF; }
    nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover, nav .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
      background-color: var(--bs-primary); }
@media (max-width: 992px) {
  nav .nav-item.dropdown .dropdown-menu {
    background: unset;
    box-shadow: none !important;
    border: unset; }
    nav .nav-item.dropdown .dropdown-menu .dropdown-item {
      color: unset;
      padding-bottom: 10px; }
      nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover, nav .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
        background-color: unset; } }

.accordion-item {
  border: none !important;
  padding: 10px 0; }
  .accordion-item .accordion-button {
    border: none;
    outline: unset;
    box-shadow: unset; }

@media (max-width: 420px) {
  .navbar-brand .img-logo {
    width: 220px; } }
.shadow-sm {
  box-shadow: var(--smallshadow) !important; }

.shadow {
  box-shadow: var(--regularshadow) !important; }

.shadow-lg {
  box-shadow: var(--largeshadow) !important; }

h1.shadow, h2.shadow, h3.shadow, p.shadow {
  text-shadow: var(--regularshadow) !important;
  box-shadow: none !important; }

h1.shadow-lg, h2.shadow-lg, h3.shadow-lg, p.shadow-lg {
  text-shadow: var(--largeshadow) !important;
  box-shadow: none !important; }

.accordion-button:not(.collapsed) {
  color: var(--greyWhite);
  background-color: var(--primary); }

.accordion-button:focus {
  box-shadow: none; }

.property-card, .newsletter-card {
  transition: all 0.2s;
  box-shadow: var(--smallshadow); }
  .property-card:hover, .newsletter-card:hover {
    box-shadow: 0px 0px 9px #90acd7 !important; }

.navbar .nav-link {
  position: relative; }
  .navbar .nav-link.active {
    border-bottom: 5px solid var(--bs-primary); }
  .navbar .nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: #adb5bd;
    transform: scaleX(0);
    transition: transform 0.3s ease; }
  .navbar .nav-link:hover::before {
    transform: scaleX(1); }

.btn-social-circle {
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

#website_nav .nav-link {
  text-transform: uppercase; }

.btn-group .btn {
  border-color: transparent; }
  .btn-group .btn:hover {
    border-color: transparent; }

.image-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 35px;
  width: 180px;
  position: absolute;
  top: 30px;
  right: -25px;
  text-align: center;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg); }
  .image-banner.image-banner-teal:before {
    border-bottom-color: var(--bs-teal); }
  .image-banner.image-banner-indigo:before {
    border-bottom-color: var(--bs-indigo); }
  .image-banner.image-banner-cyan:before {
    border-bottom-color: var(--bs-cyan); }
  .image-banner.image-banner-warning:before {
    border-bottom-color: var(--bs-warning); }
  .image-banner.image-banner-danger:before {
    border-bottom-color: var(--bs-danger); }
  .image-banner:before {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 35px;
    border-left-width: 50px;
    border-right-width: 24px;
    content: '';
    display: block;
    left: -20px;
    position: absolute;
    width: 111%;
    border-top-width: 0px;
    border-bottom-color: var(--bs-primary);
    top: 0px;
    z-index: -1; }

/*# sourceMappingURL=website.css.map */
